
#container{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    
}

#home{
    position: absolute;
    top: 90px;
    width:100%;
    
}

#img-holder{
    width: 100%;
    top:0px;
    z-index:1;
    position: absolute;
    filter:brightness(70%)
}

#laptop_img{
    width: 100%;
    border-radius: 0.5%;
    /*-webkit-transition: width 1s ease;*/
    z-index: 1;
}

#laptop_img2{
    width: 100%;
    height:100%;
    top:0px;
    right:0px;
    position: absolute;
    border-radius: 0.5%;
    z-index:8;
    display:none;
}


.mode{
    background-color: #FAF9F6;
    color: #090E09;
}

#background-img{
    height: 100%;

}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#intro{
    background-color: rgba(230,230,230,0.90);
    color: black;
    width:56%;
    float: left;
    margin-left: -4%;
    /*margin-top: -42%;*/
    position: absolute;
    top:100px;
    border-radius: 1%;
    border-color: black;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    z-index: 10;
}
#intro-large{
    font-size: 54px;
    padding-left: 10px;
    font-weight: 300;
}
#intro-small{
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 4px;
}
/*#navbar{
    overflow: hidden;
    float: left;
}*/

#navbase{
    position:fixed;
    /*background-color: #FAF9F6;*/
    z-index: 900;
    width: 100%;
    left:0;
    height: 50px; 

    -webkit-transition: box-shadow 0.5s ease;
                   
}

.shadow{
    box-shadow:0 0 8px 0 rgba(0,0,0,1);            
}

#navbar-container{
    position: relative;
    z-index: 950;
    height: 50px;
}
#navbar{
    display: flex;
    text-align: center;
    /*float: inline-end;*/
    font-size: 17px;
    font-weight: 500;
    position:fixed;
    z-index: 1000;
    color:#FAF9F6;
    
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
.flex-item{
    flex: 50%;
    padding: 18px 0px 0px;
    text-decoration: none;
    line-height: 1.12;
}
.flex-spacer{
    flex: 50%;
    padding: 18px 20px 0px;
    text-decoration: none;
}

.underline{
    border-bottom: 2px solid white;
    width:1px;
    
}

#icon-holder{
    width:40px;
    padding-top: 5px;
    opacity: 0.8;
    margin-left: -2%;
    position: fixed;
}
.mode-button{
    background:none;
    border:none;
    cursor: pointer;
    padding-right:0; 
    font-size: 30px; 
    margin-top: 4px; 
    margin-right: -40px;
}